EXCHANGE_NAME=binance
EXCHANGE_API_KEY=
EXCHANGE_API_SECRET=
EXCHANGE_API_PASSPHRASE=
TRADING_MODE=dry_run
MARKET_TYPES=spot,perpetual
FUTURES_MARGIN_MODE=isolated
FUTURES_POSITION_MODE=one_way
MAX_LEVERAGE=3
MAX_DAILY_LOSS_PCT=2
MAX_POSITION_PCT=30
MAX_NOTIONAL_EXPOSURE_PCT=100
DATABASE_DSN=/Users/guilinzhou/Desktop/test-nemo/gogogo/data.db
DATA_RETENTION_DAYS=1095
CANDLE_SYNC_BATCH_SIZE=1000
BACKUP_PATH=./backups
API_TOKEN=
